<p>vehicles works!</p>

<table>
    <thead>

        <tr>
            <th>Vechicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>cost</th>
            <th>tyres</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>



    <tr *ngFor="let vehicle of vehicles">
        <td>{{vehicle.Vehicle}}</td>
        <td>{{vehicle.manufacturer}}</td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.type}}</td>
        <td>{{vehicle.fuel}}</td>
        <td>{{vehicle.color}}</td>
        <td>
        <img [src]="vehicle.image" alt="" width="100px" height="100px">
        </td>
        <td>{{vehicle.cost}}</td>
                <td>{{vehicle.tyres}}</td>
                 <td>{{vehicle.id}}</td>
    </tr>
    </tbody>


</table>
