<h1>Create-Vehicle Form</h1>
<form [formGroup]="vehicleForm"(ngSubmit)="submit()">

    <label for="">vechicle:</label>
    <input tye="text" formControlName="vehicle">
    <br>
     <label for="">manufacturer:</label>
    <input tye="text" formControlName="manufacturer">
    <br>
     <label for="">model:</label>
    <input tye="text" formControlName="model">
    <br>
     <label for="">type:</label>
    <input tye="text" formControlName="type">
    <br>
     <label for="">fuel:</label>
    <input tye="text" formControlName="fuel">
    <br>
     <label for="">color:</label>
    <input tye="text" formControlName="color">
    <br>
     <label for="">image:</label>
    <input tye="text" formControlName="image">
    <br>
    <input type="submit">
</form>
