<p>account works!</p>
<table>
    <thead>
        <tr>
            <th>accountname</th>
             <th>availablebalance</th>
              <th>accountnumber</th>
              <th>city</th>
            <th>profiepicture</th>
            <th>ifsccode</th>
            <th>id</th>
            </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of account">
            <td>{{account.account_name}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.account_number}}</td>
            <td>{{account.city}}</td>
            <td>
                <img [src]="account.profie_picture" alt="" width="100px" height="100px">
            </td>
            <td>{{account.ifsc_code}}</td>
            <td>{{account.id}}</td>
        </tr>
    </tbody>
</table>
